@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

@font-face {
    font-family: 'DDIN';
    src: url('../fonts/DDIN.eot');
    src: url('../fonts/DDIN.eot') format('embedded-opentype'),
         url('../fonts/DDIN.woff2') format('woff2'),
         url('../fonts/DDIN.woff') format('woff'),
         url('../fonts/DDIN.ttf') format('truetype'),
         url('../fonts/DDIN.svg#DDIN') format('svg');
}
@font-face {
    font-family: 'DDINBold';
    src: url('../fonts/DDINBold.eot');
    src: url('../fonts/DDINBold.eot') format('embedded-opentype'),
         url('../fonts/DDINBold.woff2') format('woff2'),
         url('../fonts/DDINBold.woff') format('woff'),
         url('../fonts/DDINBold.ttf') format('truetype'),
         url('../fonts/DDINBold.svg#DDINBold') format('svg');
}
@font-face {
    font-family: 'DDINCondensed';
    src: url('../fonts/DDINCondensed.eot');
    src: url('../fonts/DDINCondensed.eot') format('embedded-opentype'),
         url('../fonts/DDINCondensed.woff2') format('woff2'),
         url('../fonts/DDINCondensed.woff') format('woff'),
         url('../fonts/DDINCondensed.ttf') format('truetype'),
         url('../fonts/DDINCondensed.svg#DDINCondensed') format('svg');
}
@font-face {
    font-family: 'DDINCondensedBold';
    src: url('../fonts/DDINCondensedBold.eot');
    src: url('../fonts/DDINCondensedBold.eot') format('embedded-opentype'),
         url('../fonts/DDINCondensedBold.woff2') format('woff2'),
         url('../fonts/DDINCondensedBold.woff') format('woff'),
         url('../fonts/DDINCondensedBold.ttf') format('truetype'),
         url('../fonts/DDINCondensedBold.svg#DDINCondensedBold') format('svg');
}
@font-face {
    font-family: 'DDINExp';
    src: url('../fonts/DDINExp.eot');
    src: url('../fonts/DDINExp.eot') format('embedded-opentype'),
         url('../fonts/DDINExp.woff2') format('woff2'),
         url('../fonts/DDINExp.woff') format('woff'),
         url('../fonts/DDINExp.ttf') format('truetype'),
         url('../fonts/DDINExp.svg#DDINExp') format('svg');
}
@font-face {
    font-family: 'DDINExpBold';
    src: url('../fonts/DDINExpBold.eot');
    src: url('../fonts/DDINExpBold.eot') format('embedded-opentype'),
         url('../fonts/DDINExpBold.woff2') format('woff2'),
         url('../fonts/DDINExpBold.woff') format('woff'),
         url('../fonts/DDINExpBold.ttf') format('truetype'),
         url('../fonts/DDINExpBold.svg#DDINExpBold') format('svg');
}
