//Font Family
$light_font-family:'Roboto', sans-serif;
$regular_font-family:'Roboto', sans-serif;
$medium_font-family: 'Roboto', sans-serif;
$bold_font-family:'Roboto', sans-serif;
$black_font-family:'Roboto', sans-serif;
$DDIN_font-family:'DDIN';
$DDINBold_font-family:'DDINBold';
$DDINCondensed_font-family:'DDINCondensed';
$DDINCondensed_font-family:'DDINCondensed';
$DDINCondensedBold_font-family:'DDINCondensedBold';
$DDINExp_font-family:'DDINExp';
$DDINExpBold_font-family:'DDINExpBold';
$book_font-family: 'GothamBook',sans-serif;;
$gothambold_font-family:'GOTHAMBOLD',sans-serif;;
//Font Weight

$light_font-weight: 300;
$regular_font-weight: 400;
$medium_font-weight: 500;
$bold_font-weight: 700;
$black_font-weight: 800;
$DDIN_font-weight:normal;
$DDINBold_font-weight:normal;
$DDINCondensed_font-weight:normal;
$DDINCondensed_font-weight:normal;
$DDINCondensedBold_font-weight:normal;
$DDINExp_font-weight:normal;
$DDINExpBold_font-weight:normal;
$book_font-weight:  normal;
$gothambold_font-weight: normal;


